/* ============================
   GLOBAL STYLES
============================ */
body {
  background-color: rgba(240, 128, 128, 0.537);
  text-align: center;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
}

/* Links */
a:hover {
  color: aliceblue;
}

/* ============================
 IMAGES
============================ */
img {
  width: 75%;
}

main img {
  width: 25%;
}

figure {
  font-style: italic;
}

/* Lists */
ul {
  text-align: left;
  margin: 0 auto;
  padding: 0 10px;
}

/* ============================
 MAIN CONTENT
============================ */
main {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* ============================
 FOOTER
============================ */
footer {
  text-align: center;
  max-width: 1200px;
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 10px 0;
  border-top: 1px solid #000;
}

footer img {
  width: 10%; /* Validator icons */
}

/* ============================
 MEDIA QUERIES
============================ */

/* Tablet */
@media screen and (min-width: 550px) and (max-width: 930px) {
  img {
      width: 90%;
  }
}

/* Mobile */
@media screen and (min-width: 350px) and (max-width: 500px) {
  img {
      width: 100%;
  }
}


